@import '../../../setting';

.avasignin {
    width: 180px;
    height: 45px;
    position: absolute;
    margin: 14px 0px 0px 500px;
    display: flex;
    position: absolute;
    img {
        height: 42px;
        width: 42px;
        border-radius: 50%;  
        left: 0;
        margin: 0;
        padding: 0;
        position: absolute;
        z-index: 10;
    }

    .firstname {
        color: $black;
        width: 150px;
        margin-left: 7px;
        margin-top: 7px;
        position: absolute;
        z-index: 9;
        
        button {
            margin-right: 20px;
            background: none;
            border: none;
            width: 150px;
            height: 30px;
            margin: 0px;
            padding: 0;
            display: flex;
            .downbtn {
                width: 33px;
                height: 33px;
                background: white;
                border-radius: 50%;
                margin: 0px 0 0 100px;
                position: absolute;
                cursor: pointer;
                img {
                    width: 27px;
                    height: 25px;
                    margin: 5px 3px 3px 3px;
                    position: absolute;
                    background: white;
                    
                }
            }
            
            span {
                font-size: 21px;
                color: $white;
                font-weight: 700;
                position: absolute;
                margin: 3px 0px 0px 40px;
            }
        }
    }
}