@import '../../../setting';

.hearticon {
    width: 31.5px;
    height: 31.5px;
    fill: $white;
    position: absolute;
    margin: 19px 10px 0px 437px;

    svg#Layer_1 {
        fill: $white;
    }
}