@import '../../../setting';

.messicon {
    width: 33px;
    height: 33px;
    fill: $white;
    margin: 19px 30px 0px 370px;
    position: absolute;
    svg#Layer_1 {
        fill: $white;
    }
}