.messicon {
    width: 33px;
    height: 33px;
    fill: white;
    display: inline;
    float: left;
    margin: 18.5px 30px 0px 40px;
    // z-index: 9;
    // overflow: visible;

    svg#Layer_1 {
        fill: white;
    }
}