.album {
    width: calc(1200px - 410px);
    height: 927px;
    position: absolute;
    margin-top: 80px;
    overflow-x: none;
    overflow-y: scroll;
    &::-webkit-scrollbar {
        display: none;
    }
}