.album {
    width: calc(1200px - 410px);
    height: 927px;
    // background-color: rgba(125, 125, 172, 0.459);
    // display: inline;
    position: absolute;
    margin-top: 80px;
    overflow-x: none;
    overflow-y: scroll;
    &::-webkit-scrollbar {
        display: none;
    }
}