@import '../../_setting.scss';

.intro {
    width: 400px;
    height: 530px;
    background-color: rgba(0, 0, 0, 0.9);
    float: right;
    display: inline-flex;
    margin: 110px auto 0px 0px;
}