@import '../../setting';

.post {
    width: 790px;
    height: 600px;
    background-color: $black;
    @include marcen();
    margin-bottom: 10px;

    .postInfo {
        width: 790px;
        height: 186px;
        background-color: $white;
        text-align: left;
        position: relative;
        button {
            background: none;
            border: none;
        }

        img {
            width: 30px;
            height: 30px;
            margin-left: 5px;
            cursor: pointer;
            
            &#heart {
                width: 40px;
                height: 40px;
            }

            &#cmt {
                padding-bottom: 5px;
            }
        }

        p.postTime {
            margin: 0px;
            padding: 10px 0px 0px 10px;
            font-weight: 900;
            color: rgba(0, 0, 0, 0.7);
        }

        p.postContent {
            margin: -5px 0px 20px 10px;

            span {
                font-weight: 900;
                margin-right: 5px;
            }
        }

        input {
            width: 699px;
            height: 45px;
            padding-left: 45px;
            padding-right: 45px;
            border: solid 1px rgba(210, 210, 210, 1) ;
            border-left: none;
            border-right: none;
            outline: none;
        }
    }
}