@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600');

$skyblue: #45FFFF;
$mustard: #F8B300;
$scree-lg: 1201px;
$scree-md: 992px;
$scree-sm: 768px;
$scree-phone: 480px;
$screen-ip6-down: '{max-width: 375px}';