@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600');

//Color
$mustard: #F8B300;
$gray: rgb(210, 210, 210);
$white: white;
$black: black;
//Align center
@mixin marcen {
    margin-left: auto;
    margin-right: auto;
}

//Size
$maxheightPic: 414px;

$scree-lg: 1201px;
$scree-md: 992px;
$scree-sm: 768px;
$scree-phone: 480px;
$screen-ip6-down: '{max-width: 375px}';